<a href="https://colab.research.google.com/github/KaggleStudy4th/4th_kaggle_study/blob/main/%EC%8B%A4%EC%8A%B5%EC%BD%94%EB%93%9C/7%EC%A3%BC%EC%B0%A8/%EA%B0%80%EC%8A%A4%EA%B3%B5%EA%B8%89%EB%9F%89_%EC%88%98%EC%9A%94%EC%98%88%EC%B8%A1_kiy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
# 드라이브 마운트
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [41]:
data=pd.read_csv('/content/drive/MyDrive/dacon/한국가스공사_시간별 공급량_20181231.csv', encoding='cp949')

In [42]:
data.head()

          연월일  시간 구분       공급량
0  2013-01-01   1  A  2497.129
1  2013-01-01   2  A  2363.265
2  2013-01-01   3  A  2258.505
3  2013-01-01   4  A  2243.969
4  2013-01-01   5  A  2344.105

In [43]:
data.shape

(368088, 4)

In [44]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 368088 entries, 0 to 368087
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   연월일     368088 non-null  object
 1   시간      368088 non-null  int64
 2   구분      368088 non-null  object
 3   공급량     368088 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 11.2+ MB

# 1. 전처리

In [45]:
data_unique=np.unique(data['연월일'])
data_unique

array(['2013-01-01', '2013-01-02', '2013-01-03', ..., '2018-12-29',
       '2018-12-30', '2018-12-31'], dtype=object)

### 문자열 column => labelencoding

In [46]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
result = le.fit_transform(data['구분'])
print(result)

[0 0 0 ... 6 6 6]

In [47]:
le.classes_

array(['A', 'B', 'C', 'D', 'E', 'G', 'H'], dtype=object)

In [48]:
data['구분']=result

In [49]:
data

               연월일  시간  구분       공급량
0       2013-01-01   1   0  2497.129
1       2013-01-01   2   0  2363.265
2       2013-01-01   3   0  2258.505
3       2013-01-01   4   0  2243.969
4       2013-01-01   5   0  2344.105
...            ...  ..  ..       ...
368083  2018-12-31  20   6   681.033
368084  2018-12-31  21   6   669.961
368085  2018-12-31  22   6   657.941
368086  2018-12-31  23   6   610.953
368087  2018-12-31  24   6   560.896

[368088 rows x 4 columns]

### datetime 데이터

In [50]:
data['연월일']=pd.to_datetime(data['연월일'])

In [51]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 368088 entries, 0 to 368087
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   연월일     368088 non-null  datetime64[ns]
 1   시간      368088 non-null  int64
 2   구분      368088 non-null  int64
 3   공급량     368088 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 11.2 MB

In [52]:
data['year']=data['연월일'].dt.year
data['month']=data['연월일'].dt.month
data['day']=data['연월일'].dt.day
data['weekday']=data['연월일'].dt.weekday

In [53]:
data

              연월일  시간  구분       공급량  year  month  day  weekday
0      2013-01-01   1   0  2497.129  2013      1    1        1
1      2013-01-01   2   0  2363.265  2013      1    1        1
2      2013-01-01   3   0  2258.505  2013      1    1        1
3      2013-01-01   4   0  2243.969  2013      1    1        1
4      2013-01-01   5   0  2344.105  2013      1    1        1
...           ...  ..  ..       ...   ...    ...  ...      ...
368083 2018-12-31  20   6   681.033  2018     12   31        0
368084 2018-12-31  21   6   669.961  2018     12   31        0
368085 2018-12-31  22   6   657.941  2018     12   31        0
368086 2018-12-31  23   6   610.953  2018     12   31        0
368087 2018-12-31  24   6   560.896  2018     12   31        0

[368088 rows x 8 columns]

In [54]:
# train_years = [2013,2014,2015,2016,2017]
# val_years = [2018]

# train = total[total['year'].isin(train_years)]
# val = total[total['year'].isin(val_years)]

# features = ['구분', 'month', 'day', 'weekday', '시간']
# train_x = train[features]
# train_y = train['공급량']

# val_x = val[features]
# val_y = val['공급량']

In [55]:
from sklearn.model_selection import train_test_split

X = data.drop(['공급량'],axis=1)
y = data['공급량']

# train_test_split
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, shuffle=True, random_state=34)

In [56]:
X_train.shape

(294470, 7)

In [57]:
y_train.shape

(294470,)

In [58]:
X_train.head()

              연월일  시간  구분  year  month  day  weekday
127080 2015-07-05   1   0  2015      7    5        6
245445 2016-12-31  22   6  2016     12   31        5
174775 2015-12-14   8   5  2015     12   14        0
304549 2017-09-30  14   6  2017      9   30        5
289764 2017-01-22  13   5  2017      1   22        6

In [59]:
X_val.head()

              연월일  시간  구분  year  month  day  weekday
85813  2014-10-18  14   2  2014     10   18        5
267851 2017-07-23  12   2  2017      7   23        6
331908 2018-11-14  13   2  2018     11   14        2
91074  2014-05-25  19   3  2014      5   25        6
367554 2018-12-09  19   6  2018     12    9        6

In [60]:
X_train=X_train.drop(['연월일'],axis=1)
X_train

        시간  구분  year  month  day  weekday
127080   1   0  2015      7    5        6
245445  22   6  2016     12   31        5
174775   8   5  2015     12   14        0
304549  14   6  2017      9   30        5
289764  13   5  2017      1   22        6
...     ..  ..   ...    ...  ...      ...
199765  14   1  2016     10   19        2
225014  15   4  2016      9    3        5
153449  18   3  2015      7    8        2
305642   3   6  2017     11   15        2
365690   3   6  2018      9   23        6

[294470 rows x 6 columns]

In [61]:
X_val=X_val.drop(['연월일'],axis=1)
X_val.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73618 entries, 85813 to 245988
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   시간       73618 non-null  int64
 1   구분       73618 non-null  int64
 2   year     73618 non-null  int64
 3   month    73618 non-null  int64
 4   day      73618 non-null  int64
 5   weekday  73618 non-null  int64
dtypes: int64(6)
memory usage: 3.9 MB

# 모델링

In [62]:
import lightgbm as lgb
train=lgb.Dataset(X_train,y_train)
val=lgb.Dataset(X_val,y_val)

params={
    'objective':'regression',
    'metric':'mae',
    'seed':42
}

model=lgb.train(params,train,100,val)

[1]	valid_0's l1: 655.693
[2]	valid_0's l1: 597.182
[3]	valid_0's l1: 545.622
[4]	valid_0's l1: 499.523
[5]	valid_0's l1: 458.709
[6]	valid_0's l1: 422.82
[7]	valid_0's l1: 391.066
[8]	valid_0's l1: 362.813
[9]	valid_0's l1: 338.27
[10]	valid_0's l1: 316.456
[11]	valid_0's l1: 297.527
[12]	valid_0's l1: 281.48
[13]	valid_0's l1: 267.598
[14]	valid_0's l1: 254.475
[15]	valid_0's l1: 242.755
[16]	valid_0's l1: 233.595
[17]	valid_0's l1: 225.34
[18]	valid_0's l1: 218.274
[19]	valid_0's l1: 211.536
[20]	valid_0's l1: 204.237
[21]	valid_0's l1: 198.217
[22]	valid_0's l1: 192.207
[23]	valid_0's l1: 186.297
[24]	valid_0's l1: 182.058
[25]	valid_0's l1: 176.423
[26]	valid_0's l1: 172.257
[27]	valid_0's l1: 167.73
[28]	valid_0's l1: 163.371
[29]	valid_0's l1: 160.461
[30]	valid_0's l1: 156.431
[31]	valid_0's l1: 153.15
[32]	valid_0's l1: 150.766
[33]	valid_0's l1: 147.564
[34]	valid_0's l1: 145.154
[35]	valid_0's l1: 142.984
[36]	valid_0's l1: 140.217
[37]	valid_0's l1: 137.893
[38]	valid_0's l1: 136.019
[39]	valid_0's l1: 134.037
[40]	valid_0's l1: 132.358
[41]	valid_0's l1: 130.589
[42]	valid_0's l1: 128.751
[43]	valid_0's l1: 127.291
[44]	valid_0's l1: 125.903
[45]	valid_0's l1: 124.696
[46]	valid_0's l1: 123.616
[47]	valid_0's l1: 122.594
[48]	valid_0's l1: 121.46
[49]	valid_0's l1: 120.541
[50]	valid_0's l1: 119.52
[51]	valid_0's l1: 118.629
[52]	valid_0's l1: 117.781
[53]	valid_0's l1: 116.885
[54]	valid_0's l1: 116.114
[55]	valid_0's l1: 115.455
[56]	valid_0's l1: 114.716
[57]	valid_0's l1: 113.892
[58]	valid_0's l1: 113.295
[59]	valid_0's l1: 112.858
[60]	valid_0's l1: 112.284
[61]	valid_0's l1: 111.608
[62]	valid_0's l1: 111.058
[63]	valid_0's l1: 110.6
[64]	valid_0's l1: 109.92
[65]	valid_0's l1: 109.417
[66]	valid_0's l1: 108.989
[67]	valid_0's l1: 108.309
[68]	valid_0's l1: 107.887
[69]	valid_0's l1: 107.026
[70]	valid_0's l1: 106.602
[71]	valid_0's l1: 106.15
[72]	valid_0's l1: 105.491
[73]	valid_0's l1: 105.059
[74]	valid_0's l1: 104.73
[75]	valid_0's l1: 104.48
[76]	valid_0's l1: 104.071
[77]	valid_0's l1: 103.517
[78]	valid_0's l1: 103.003
[79]	valid_0's l1: 102.698
[80]	valid_0's l1: 102.45
[81]	valid_0's l1: 102.004
[82]	valid_0's l1: 101.675
[83]	valid_0's l1: 101.257
[84]	valid_0's l1: 100.875
[85]	valid_0's l1: 100.686
[86]	valid_0's l1: 100.421
[87]	valid_0's l1: 100.099
[88]	valid_0's l1: 99.8567
[89]	valid_0's l1: 99.2935
[90]	valid_0's l1: 98.9965
[91]	valid_0's l1: 98.6728
[92]	valid_0's l1: 98.337
[93]	valid_0's l1: 98.1231
[94]	valid_0's l1: 97.8753
[95]	valid_0's l1: 97.7068
[96]	valid_0's l1: 97.476
[97]	valid_0's l1: 97.159
[98]	valid_0's l1: 96.7791
[99]	valid_0's l1: 96.5495
[100]	valid_0's l1: 96.3255

In [63]:
# test = pd.read_csv('data/test.csv')
# submission = pd.read_csv('data/sample_submission.csv')

In [64]:
# test['일자'] = test['일자|시간|구분'].str.split(' ').str[0]
# test['시간'] = test['일자|시간|구분'].str.split(' ').str[1].astype(int)
# test['구분'] = test['일자|시간|구분'].str.split(' ').str[2]

In [65]:
# test['일자'] = pd.to_datetime(test['일자'])
# test['year'] = test['일자'].dt.year
# test['month'] = test['일자'].dt.month
# test['day'] = test['일자'].dt.day
# test['weekday'] = test['일자'].dt.weekday

In [66]:
# test['구분'] = le.fit_transform(test['구분'])

In [67]:
#test=test.drop(test['일자|시간|구분'],axis=1)
#X_test=test.iloc[:,1:-1]

In [68]:
#pred=model.predict(X_test)

In [69]:
#submission['공급량']=pred
#submission.to_csv('gas_supply_lgbm.csv', index=False)